<nav class="navbar navbar-light bg-light">
  <div class="container">
    <span class="navbar-brand">GoLang API Server</span>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a id="homeNav" class="nav-link" href="/healthcheck">Health</a>
      </li>
      <li class="nav-item">
        <a id="secondNav" class="nav-link" href="/roster">Roster</a>
      </li>
      <li class="nav-item">
        <a id="thirdNav" class="nav-link" href="/releases">Releases</a>
      </li>
    </ul>
  </div>
</nav>
